{% extends "base.html" %}

{% block main %}
<h1>Создать статью</h1>

<form method="post">
    <label>Название:</label><br>
    <input type="text" name="title" required><br><br>

    <label>Текст статьи:</label><br>
    <textarea name="article_text" required></textarea><br><br>

    <label>
        <input type="checkbox" name="is_favorite"> Любимая статья
    </label>
    <br>

    <label>
        <input type="checkbox" name="is_public"> Публичная статья
    </label>
    <br><br>

    <button type="submit">Создать</button>

    {% if error %}
        <p style="color:red">{{ error }}</p>
    {% endif %}
</form>
{% endblock %}
