body {
    margin: 0;
}

main {
    margin-bottom: 40px;
    padding: 10px;
}

header {
    margin-bottom: 30px;
    padding: 20px;
    background: rgb(252, 216, 246);
}

footer {
    margin-top: 20px;
    padding: 10px;
    background: rgb(198, 250, 235);
    text-align: right;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
