{% extends "base.html" %}

{% block lab %}Лабораторная 2 — Фрукты{% endblock %}

{% block main %}
<h1>20 фруктов</h1>

<div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); gap: 20px;">
    {% for fruit in fruits %}
        <div style="text-align: center; border: 1px solid #ccc; border-radius: 10px; padding: 10px;">
            <img src="{{ url_for('static', filename=fruit.img) }}" alt="{{ fruit.name }}" style="width: 150px; height: 150px; object-fit: cover; border-radius: 8px;">
            <h3>{{ fruit.name }}</h3>
            <p>{{ fruit.desc }}</p>
        </div>
    {% endfor %}
</div>

<a href="/lab2/">Назад</a>
{% endblock %}
